@model Projeto01_IF.Models.TbProfissional

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<h3>Vocę tem certeza que deseja excluir?</h3>
<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmCrn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmCrn)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>
    </dl>
    <h5>Endereço</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd1) @Html.DisplayFor(model => model.Telefone1)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd2) @Html.DisplayFor(model => model.Telefone2)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCidadeNavigation.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCidadeNavigation.Nome) / @Html.DisplayFor(model => model.IdCidadeNavigation.IdEstadoNavigation.Uf)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContratoNavigation.IdPlanoNavigation.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContratoNavigation.IdPlanoNavigation.Nome)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfissional" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
